.logo {
  height: 24px;
  margin-top: 4px;
}

.flex-container {
  display: flex;
  flex: 1 1 auto;
  margin-left: 30px;
  justify-content: space-between;
}

.nav-button {
  margin: 0 4px
}

.mat-raised-button mat-icon {
  margin-right: 8px;
}