<div class="content">
  <div class="search-bar">
    <form>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Brand" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Model" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Production Year From" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Production Year To" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Engine Type" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput placeholder="Engine Power From" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Engine Power To" />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="results"></div>
</div>
